<script src="/js/bootstrap.bundle.min.js"></script>

<footer class="text-dark">
    <div class="container-fluid page-footer py-3">
        <div class="row">
            <div class="col-sm 12 col-lg-6 text-center">
                {{.Site.Copyright | safeHTML}}
            </div>
            <div class="col-sm-12 col-lg-6 text-center">
                <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" class="text-muted">About</a>
            </div>
        </div>
    </div>
</footer>
