<meta property="og:title" content="{{.Title}}" />
<meta property="og:url" content="{{.Permalink}}" />
{{ if eq .Page.Type "post" }}
<meta property="og:image" content="https://serpentos.com/{{.Params.FeaturedImage}}" />
<meta property="og:type" content="article" />
{{ else }}
<meta property="og:type" content="website" />
{{ end }}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Serpent OS",
    "alternateName": "SERPENT OS",
    "url": "https://serpentos.com/"
}
</script>
{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Serpent OS",
    "legalName" : "Serpent OS",
    "url": "https://www.serpentos.com",
    "logo": "https://serpentos.com/img/black_notext_0.5x.png",
    "foundingDate": "2020",
    "founders": [
    {
        "@type": "Person",
        "name": "Ikey Doherty"
    }],
   "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "help",
        "email": "ikey@serpentos.com"
    },
    "sameAs": [
        "https://github.com/serpent-linux",
        "https://twitter.com/SerpentLinux"
        "https://dev.serpentos.com",
    ]
}
</script>
{{ else }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": {{ printf "%s" .Site.BaseURL }}
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : {{ printf "%s" .Summary | safeHTML}},
    "inLanguage" : "en-US",
    "author" : "Serpent OS",
    "creator" : "Serpent OS",
    "publisher": "Serpent OS",
    "accountablePerson" : "Serpent OS",
    "copyrightHolder" : "Serpent OS",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }},
    "dateModified" : {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }},
    "url" : {{ printf "%s" .Permalink }},
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Serpent OS", "linux", "musl", "LLVM", "serpent linux", "ikey doherty"]
}
</script>
{{ end }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@SerpentLinux" />
<meta name="twitter:title" content="{{.Title}} | {{.Site.Title}}" />
<meta name="twitter:description" content="{{.Summary}}" />
{{ if eq .Page.Type "post" }}
<meta name="twitter:image" content="https://serpentos.com/{{.Params.FeaturedImage}}" />
{{ else }}
<meta name="twitter:image" content="https://serpentos.com/img/blog/defining-moss/Featured.png" />
{{ end }}
<meta name="google-site-verification" content="l9Lyy0sJUuA1QxzRheP2mzcDlD-s5U0yKZPwvPs6Skw" />