* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    background-color: #ddd;
    height: 100%;
    position: relative;
}
.container {
    background-color: #fff;
}
.container-gray {
    background-color: #ddd;
    padding: 0;
}
.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 180px;
}
.page-footer {
    background-color: #fff !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
main .page-content {
    margin-top: 40px;
    margin-bottom: 20px;
}
.navbar-brand img {
    margin-right: 16px;
}

/* Modified b-example-divider from bootstrap demos */
.page-cutter {
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}