{{ $image := .Get "image" }}
<figure class="figure">
    <img src="/img/blog/{{$image}}" class="img-fluid shadow img-thumbnail">
    <figcaption class="figure-caption text-muted px-2 py-2">{{.Get "caption"}}</figcaption>
</figure>
